@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-roboto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins;
  }
}

@layer components {
  .img-grid {
    @apply columns-1 gap-4 sm:columns-2 lg:columns-3 xl:columns-4 [&>a:not(:first-child)]:mt-4 [&>a]:block [&>a]:rounded-lg [&>a]:overflow-hidden [&>a]:relative [&>a]:cursor-pointer;
  }

  .title-container {
    @apply absolute bottom-0 w-full text-center bg-black/50 py-2 transition-all duration-500 opacity-0 group-hover:opacity-100;
  }
  .title {
    @apply text-white font-semibold text-base lg:text-lg;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #191818;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.55);
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
